
@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter_28pt-Regular.ttf");
}
@font-face {
  font-family: Inter-semibold;
  src: url("../assets/fonts/Inter_28pt-SemiBold.ttf");
}

@import "tailwindcss";

@layer base {
  html{
    @apply scroll-smooth;
  }
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1500px;
  --color-twitter-blue: #1DA1F2;


  --font-inter: Inter, sans-serif;
  --font-inter-semibold: Inter-semibold, sans-serif;

}
body, div {
  transition: background-color 0.3s, color 0.3s;
}



